<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="referrer" content="origin">
      <link rel="shortcut icon" type="image/x-icon" href="https://cdn.gmodshop.ru/favicon.ico">
      <link rel="icon" href="https://cdn.gmodshop.ru/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="/site">
   </head>
   <body>
   <footer class="footer text-muted">
      <div class="sec-1">
         <div class="container">
            <div class="row">
               <div class="col-md-3 footer-icon-parent">
                  <h2 class="h3">gmodshop.ru</h2>
                  <p class="text-muted">Лучший магазин аддонов.</p>
               </div>
               <div class="col-md-4">
                  <h6>
                     Медия
                  </h6>
                  <ul class="nolist">
                     <li><a href="/about">О нас</a></li>
                     <li><a href="https://discord.gg/8YHVgPBg7N" target="_blank" class="local">Наш дискорд</a></li>
                  </ul>
               </div>
               <div class="col-md-4">
                  <h6>
                     Предметы
                  </h6>
                  <ul class="nolist">
                     <li><a href="/upload">Загрузить аддон</a></li>
                     <li><a href="/dashboard">Панель управления</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="sec-2">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <p>
                     © 2021 - GmodShop.ru - Все права защищены. Все товары и зарегистрированные аддоны являются собственностью указаных владельцев.
                  </p>
                  <p>
                     <a href="/tos">Правила</a> <!-- <a href="https://m.do.co/c/08fb9753ecd6" target="_blank" class="external">Hosted on Digital Ocean</a> -->
                  </p>
               </div>
            </div>
         </div>
      </div>
   </footer>
</html>