<%- include("partials/header", { user, title: "Home" }) %>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Become a Seller - gmodshop</title>
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="/css/site.css?v=B7wBMkqLgdFB7JrUL8jxa9XBNu3bE7jNw-c8Wfr_sg0">
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112520490-5"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
   </head>
   <body>
      <main role="main" class="pb-3">
         <div class="container mt-5">
            <div class="row">
               <div class="col-12 w-1 m-auto">
                  <div class="sect-compact">
                     <h4>Рекомендации продавца</h4>
                     <p>Прежде чем продавать свой шедевр на нашем премиальном рынке, подумайте о следующем:</p>
                     <ul>
                        <li>Аддоны должны быть на русском языке, вы также можете поддерживать другие языки.</li>
                        <li>Аддоны должны следовать нашим <a href="/safe-code">руководство по безопасности кода</a></li>
                        <li>Аддон не должен содержать материалы, защищенные авторским правом</li>
                        <li>Аддон должен быть хорошо представлен и поддерживаться.</li>
                        <li>Если вам будет отказано в аддоне, мы дадим вам обратную связь о том, что необходимо изменить.</li>
                     </ul>
                  </div>
                  <div class="sect-compact">
                     <h4>Платежи &amp; Прозрачность</h4>
                     <div class="mb-5">
                        <h6>Платежи</h6>
                        <p>Мы берем 0% комиссионных и сборов с продаж, сколько вы устанавилваете на свой аддон, это то, сколько вы получаете за продажу.</p>
                        <p>Вы будете получать оплату в кредитах, которые покупают клиенты <a href="/store">тут</a> и используются для приобретения аддонов. 1 Кредит = 1 рубль России</p>
                        <p>Вы можете обналичить баланс через Qiwi или другие платежные системы <span class="text-muted">эти методы требуют небольшой комиссии за транзакцию (около 2%)</span></p>
                     </div>
                     <div>
                        <h6>Прозрачность</h6>
                        <p>Мы хотим побудить наших продавцов создавать потрясающие аддоны и формировать то, как люди наслаждаются игрой, а не капитализировать ваш талант и идеи.</p>
                        <p>Мы получаем прибыль за счет <a href="/store">магазина</a>, а также спонсоров сайта. Мы не хотим съедать прибыль продавца, поэтому мы предлагаем комиссию в размере 0% от продаж.</p>
                     </div>
                     <div>
                        <h6>Возвраты</h6>
                        <p>У клиентов будет 12-часовое окно, чтобы запросить возврат средств. Если они попытались получить поддержку и не смогли успешно получить аддон, работающий из-за проблем с аддоном, они могут иметь право на возмещение своих средств.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </body>
</html>