<%- include("partials/header", { user, title: "Home" }) %>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Правила - gmodshop</title>
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="/css/site.css?v=B7wBMkqLgdFB7JrUL8jxa9XBNu3bE7jNw-c8Wfr_sg0">
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112520490-5"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
   </head>
   <body>
      <main role="main" class="pb-3">
         <div class="container mt-5">
            <div class="col-12">
               <div class="sect-compact">
                  <h4>Условия предоставления услуг / Политика конфиденциальности</h4>
               </div>
               <div class="text-left sect">
                  <h5 class="mt-5">1. Условия</h5>
                  <p>
                     Зайдя на веб-сайт по адресу&nbsp;<a href="https://gmodshop.ru" target="_blank">https://gmodshop.ru</a>, вы соглашаетесь соблюдать настоящие условия предоставления услуг и все правила, и соглашаетесь с тем, что вы несете ответственность за соблюдение любых правил.
                     Если вы не согласны с каким-либо из этих условий, вам запрещено использовать или получать доступ к этому сайту. Материалы, содержащиеся на этом веб-сайте, защищены применимым законодательством об авторском праве и товарных знаках.
                  </p>
                  <h5 class="mt-5">2. Лицензия на использование</h5>
                  <ol type="a">
                     <li>
                        Предоставляется разрешение на загрузку копий материалов (информации или аддонов) на gmodshop.ru. веб-сайт предназначен только для личного, некоммерческого временного просмотра. Это предоставление лицензии, а не передача права собственности, и в соответствии с этой лицензией
                        вы не можете:
                        <ol type="i">
                           <li>изменять или копировать материалы;</li>
                           <li>использовать материалы в любых коммерческих целях или для любого публичного показа (коммерческого или некоммерческого);</li>
                           <li>пытаться декомпилировать или перепроектировать любой аддон, содержащееся на gmodshop.ru;</li>
                           <li>удалять любые авторские права или другие обозначения собственности из материалов; или</li>
                           <li>передавать материалы другому лицу на любом другом сервере.</li>
                        </ol>
                     </li>
                     <li>
                        Настоящая лицензия автоматически прекращает действие, если вы нарушите любое из этих ограничений, и может быть прекращена gmodshop.ru в любое время. После прекращения просмотра этих материалов или после прекращения действия настоящей лицензии вы должны уничтожить любые
                        загруженные материалы, находящиеся в вашем распоряжении, будь то в электронном или печатном формате.
                     </li>
                  </ol>
                  <h5 class="mt-5">3. Предупреждение</h5>
                  <ol type="a">
                     <li>
                        Материалы по gmodshop.ru предоставляется на условиях "как есть". gmodshop.ru не дает никаких гарантий, явных или подразумеваемых, и настоящим отказывается и отрицает все другие гарантии, включая, помимо прочего, подразумеваемые гарантии или условия
                        товарной пригодности, пригодности для определенной цели или ненарушения интеллектуальной собственности или другого нарушения прав.
                     </li>
                     <li>Далее, gmodshop.ru не гарантирует и не делает никаких заявлений относительно точности, вероятных результатов или надежности использования материалов на своем веб-сайте или иным образом связанных с такими материалами или на любых сайтах, связанных с этим сайтом.</li>
                     <li>Платформа gmodshop.ru может, но не обязуется производить вывод средств, на электронные счета, сумма вывода определяется администратором исходя из активности пользователя, суммы его добровольных пожертвований, а также из своего личного субъективно-оценочного мнения. активность пользователей определяется администратором на основании только лишь его личного субъективно-оценочного мнения, а так же любой человек который относится к проекту и группе будто агент поддержки, модератор.</li>
                  </ol>
                  <h5 class="mt-5">4. Ограничения</h5>
                  <p>
                     Ни в коем случае gmodshop.ru или его администрация не несут ответственность за любые убытки (включая, помимо прочего, убытки в связи с потерей данных или прибыли), возникшие в результате использования или невозможности использования материалов на gmodshop.ru, даже если gmodshop.ru уполномоченный представитель был уведомлен устно или письменно о возможности такого ущерба. Поскольку некоторые юрисдикции не допускают ограничений на подразумеваемые гарантии или ограничения ответственности
                     в случае косвенного или случайного ущерба эти ограничения могут не распространяться на вас.
                  </p>
                  <h5 class="mt-5">5. Точность материалов</h5>
                  <p>
                     Материалы, появляющиеся на gmodshop.ru могут содержать технические, типографские или фотографические ошибки. gmodshop.ru не гарантирует, что какие-либо материалы на его веб-сайте являются точными, полными или актуальными. gmodshop.ru может вносить изменения
                     к материалам, содержащимся на его сайте, в любое время без предварительного уведомления. Однако gmodshop.ru не берет на себя никаких обязательств по обновлению материалов.
                  </p>
                  <h5 class="mt-5">6. Ссылки</h5>
                  <p>
                     gmodshop.ru не просматривал все сайты, связанные с его веб-сайтом, и не несет ответственности за содержание любого такого связанного сайта. Включение любой ссылки не означает одобрения со стороны gmodshop.ru.
                  </p>
                  <h5 class="mt-5">7. Модификации</h5>
                  <p>gmodshop.ru может пересмотреть настоящие условия предоставления услуг для своего веб-сайта в любое время без предварительного уведомления. Используя этот веб-сайт, вы соглашаетесь соблюдать действующую на тот момент версию настоящих условий предоставления услуг.</p>
                  <h5 class="mt-5">8. Регулирующее Право</h5>
                  <p>Настоящие условия и положения регулируются и толкуются в соответствии с законодательством России, и вы безоговорочно подчиняетесь исключительной юрисдикции судов в этом штате или месте.</p>
                  <h2 class="mt-5">Политика конфиденциальности</h2>
                  <p>Ваша конфиденциальность важна для нас.</p>
                  <p>
                     gmodshop.ru политика уважения вашей конфиденциальности в отношении любой информации, которую мы можем собирать во время работы нашего веб-сайта. Соответственно, мы разработали настоящую политику конфиденциальности для того, чтобы вы понимали, как мы собираем, используем, сообщаем, раскрываем
                     и иным образом использовать личную информацию. Ниже мы изложили нашу политику конфиденциальности.
                  </p>
                  <ul>
                     <li>Мы будем собирать личную информацию законными и справедливыми средствами и, при необходимости, с ведома или согласия соответствующего лица.</li>
                     <li>До или во время сбора личной информации мы определим цели, для которых собирается информация.</li>
                     <li>Мы будем собирать и использовать личную информацию исключительно для выполнения указанных нами целей и для других вспомогательных целей, если мы не получим согласия соответствующего лица или в соответствии с требованиями закона.</li>
                     <li>Мы будем защищать личную информацию, используя разумные меры безопасности от потери или кражи, а также несанкционированного доступа, раскрытия, копирования, использования или изменения.</li>
                     <li>Мы будем предоставлять клиентам легкодоступную информацию о нашей политике и практике, касающихся управления личной информацией.</li>
                     <li>Мы будем хранить личную информацию только до тех пор, пока это необходимо для выполнения этих целей.</li>
                  </ul>
                  <p>
                  Мы обязуемся вести наш бизнес в соответствии с этими принципами, чтобы обеспечить защиту и сохранение конфиденциальности личной информации. gmodshop.ru может время от времени изменять настоящую политику конфиденциальности по адресу: gmodshop.ru по собственному усмотрению.
                  </p>
               </div>
            </div>
         </div>
      </main>
   </body>
</html>